<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST" class="register-form" action="\update1">
        {% csrf_token %}
        <div>
            <label for="srno" class="form-label">Srno</label>
            <input type="srno" class="form-label" value="{{product.srno}}" name="srno" id="srno" readonly>
        </div><br>
        <div>
            <label for="images" class="form-label">Images</label>
            <input type="images" class="form-label" value="{{product.images}}" name="images" id="images">
        </div><br>
        <div>
            <label for="productname" class="form-label">Product Name:</label><span> </span>
            <input type="productname" class="form-label" value="{{product.productname}} "name="productname" id="productname">
        </div><br>
        <div>
            <label for="price" class="form-label">Price</label><span> </span>
            <input type="number" class="form-label" value="{{product.price}}" name="price" id="price">
        </div><br>
        <div>
            <label for="quantity" class="form-label">Quantity</label><span> </span>
            <input type="number" class="form-label" value="{{product.totalquantity}}" name="quantity" id="quantity">
        </div><br>
        
        <div>
            <label for="status" class="form-label">Status</label><span> </span>
            <select  value="{{product.status}}" name="status" id="status">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary"  >Submit</button>
    </form>
</body>
</html>